@charset "UTF-8";

$alarm-clock-green: #43F300;
$transparent-black: rgba(0,0,0,.8);

@font-face {
    font-family: 'alarm_clockregular';
    src: url('alarm_clock-webfont.woff2') format('woff2'),
         url('alarm_clock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.timer {
	background-color: $transparent-black;
	max-width: 800px;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;

	&__output {
		text-align: center;
		margin: 10px;

		&-display {
			display: inline-block;
			font-size: 8rem;
			font-family: 'alarm_clockregular';
			color: $alarm-clock-green;
		}
	}

	&__form {
		text-align: center;

		&-input {
			border: 2px solid $alarm-clock-green;
			width: 25%;
			border-radius: 20px;
			text-align: center;
			font-size: 4rem;
			font-family: 'alarm_clockregular';
			color: $alarm-clock-green;
			background-color: $transparent-black;
			margin: 20px 10px 10px 10px;
			/*offset for input val up down arrows*/
			padding-left: 20px;
		}

		&-input:hover {
			cursor: pointer;
			transform: scaleX(1.2) scaleY(1.2);
		}

		&-input:focus {
			outline: 2px solid $alarm-clock-green;
		}

		&-label {
			display: inline-block;
			width: 25%;
			font-size: 3rem;
			color: $alarm-clock-green;
			margin: 0 10px 0 10px;
		}
	}
}

@media screen and (max-width: 600px) {
	.timer__form-input {
		padding: 0;
	}
 }

 @media screen and (max-width: 375px) {
 	.timer {
 		height: 180px;
 	}

 	.timer__output-display {
 		font-size: 6rem;
 	}

 	.timer__form-label {
 		font-size: 2rem;
 	}
 }
