@charset "UTF-8";

.form {
	&__fieldset {
		padding: 5px;
		max-width: 650px;
		margin: 10px auto 10px auto;
		border-radius: $border-radius-xl;
	}

	&__fieldset-inner {
		width: 95%;
		margin: 5px auto 5px auto;
	}

	&__legend {
		font-size: $small-font-size;
		text-align: center;
	}

	&__label {
		display: block;
		font-size: $small-font-size;
		text-align: center;
	}

	&__select-div {
		margin: 5px auto 5px auto;
		border: 1px solid black;
		width: 270px;
		border-radius: $border-radius-xl;
		overflow: hidden;
		background: $background-color1 url("../images/arrow-dropdown.svg") no-repeat 90% 50%;
	}

	&__select {
		font-size: $small-font-size;
  		font-family: $font-family;

		padding: 5px 8px;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
	}

	&__select:focus {
		outline: none;
		background: $grey url("../images/arrow-dropdown.svg") no-repeat 90% 50%;
	}

	&__select:hover {
		outline: none;
		background: $grey url("../images/arrow-dropdown.svg") no-repeat 90% 50%;
		cursor: pointer;
	}

	&__input-div {
		margin: 5px auto 5px auto;
		border: 1px solid black;
		width: 270px;
		border-radius: $border-radius-xl;
		overflow: hidden;
		background: $background-color1;
	}

	&__input {
		font-size: $small-font-size;
  		font-family: $font-family;

		padding: 5px 8px;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
	}

	&__input:focus {
		outline: none;
		background: $grey;
	}

	&__input:hover {
		outline: none;
		background: $grey;
		cursor: pointer;
	}

	&__ingredient-div {
		display: flex;
	}

	&__ingredient-input-div {
		margin: 5px 5px 5px auto;
		width: 80%;
	}

	&__textarea {
		font-size: $small-font-size;
		font-family: $font-family;
		width: 95%;
		border: 1px solid black;
		padding: 5px;
		margin: 5px auto 5px auto;
		display: block;
		border-radius: $border-radius-xl;
	}

	&__textarea:hover {
		outline: none;
		background: $grey;
	}

	&__textarea:focus {
		outline: none;
		background: $grey;
	}
}

@media screen and (min-width: 1024px) {

	.form {
		&__fieldset {
			max-width: none;
		}

		&__legend {
			font-size: $huge-font-size;
		}

		&__label {
			font-size: $huge-font-size;
		}

		&__select {
			font-size: $huge-font-size;
		}

		&__input {
			font-size: $huge-font-size;
		}

		&__textarea {
			font-size: $huge-font-size;
			height: 400px;
		}

		&__select-div {
			width: 310px;
		}

		&__input-div {
			width: 310px;
		}

		&__ingredient-input-div {
			width: 80%;
		}
	}

	.flexContainer {
		display: flex;
		flex-wrap: wrap;
	}

	.flexBox1 {
		width: 48%;
		margin: 10px auto 10px auto;
		padding: 10px;
		border: 1px solid black;
		border-radius: $border-radius-xl;
	}

	.flexBox2 {
		width: 48%;
		margin: auto;
	}

	.flexBox3 {
		width: 48%;
		margin: auto;
	}

	.flexBox4 {
		width: 48%;
		margin: auto;
	}

	.flexBox5 {
		width: 80%;
		margin: auto;
	}

	.flexBox6 {
		width: 100%;
		margin: auto;
	}
}