@charset "UTF-8";

.loader {
	p {
		text-align: center;
	}
	
	&__div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.loader {
		margin: auto;
	}
}